
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="https://www.empeek.net/">Empeek</a>
        </div>
    </div>
</nav>


<div>
    <div>
        <h1>Hello Empeek! {{disk}}</h1>
        <label>Enter your path:</label>
        <input [(ngModel)]="name" placeholder="name">
    </div>
    <div>
        <table class="table table table-striped">
            <thead>
                <tr><th>#</th><th>Disk</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>