
<div style="background-color:chartreuse">
    <div>
        <h1 [ngStyle]="{'font-family':'Verdana'}">Count Size Component {{countSize}}</h1>
    </div>
    <div>
        <table class="table table table-striped">
            <thead>
                <tr><th>less 10 MB</th><th>more 10 && less 50 MB</th><th>more 50 && less 100 MB</th><th>more 100 MB</th></tr>
            </thead>
            <tbody>
                <tr><td></td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
</div>