<div style="background-color:chartreuse">
    <div>
        <h1>Disk Component {{disk}}</h1>
        <label>Enter your path:</label>
        <input [(ngModel)]="disk" placeholder="disk">
    </div>
    <div>
        <table class="table table table-striped">
            <thead>
                <tr><th>#</th><th>Disk</th></tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>